@import "../config/variable.scss";

.substain-screen{
    .substain-screen-wraper{
        .substain-heading{
            background-color: $gray-200;
        }
        .substain-section{
            background: $white;
            border-radius: 8px;
        }
        .project-overview {
            .track-btn-green{
                button{
                    width: 217px;
                    background-color: $green;
                    border: $green;
                    font-size: 12px;
                    border-radius: 4px;
                }
            }
            .track-btn-orange{
                button{
                    width: 217px;
                    background-color: $orange;
                    border: $orange;
                    font-size: 12px;
                    border-radius: 4px;
                }
            }
            .co-txt{
                h4{
                    font-size: 20px;
                    font-weight: 600;
                }
                padding-top: 10px;
                
            }
            .topSpace{
                min-height: 34px;
            }
            h4{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}