@import "../config/variable";


.regional-screen {
    .regional-screen-wraper {
        .regional-heading {
            background-color: $gray-200;
            border-radius: 8px;
        }

        .regional-section {
            background: $white;
            border-radius: 8px;

            .mainGrayCards {
                .regionWiseTxt {
                    h6 {
                        font-size: 14px;

                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .track-btn-green {
            button {
                width: 217px;
                background-color: $green;
                border: $green;
                font-size: 12px;
                border-radius: 4px;
            }
        }

        .track-btn-orange {
            button {
                width: 217px;
                background-color: $orange;
                border: $orange;
                font-size: 12px;
                border-radius: 4px;
            }
        }

        .co-txt {
            h4 {
                font-size: 20px;
                font-weight: 600;
            }

            padding-top: 10px;

        }

        .topSpace {
            min-height: 34px;
        }

        h4 {
            font-size: 16px;
            font-weight: 400;
        }


    }

}

.modal-dialog.data-tile-screen {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 42px auto;
    max-width: 90%;
    pointer-events: none;
    position: relative;
    width: auto;

    .modal-body {
        .card-border {
            border: 1px solid $gray-600;

            .form-check {
                .form-check-input {
                    border: 1px solid $gray-600;
                    width: 20px;
                    height: 20px;
                    &:checked {
                        background-color: $primary;
                        border: none;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }

}

.progress {
    --bs-progress-height: 0.7rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: #fff;
    --bs-progress-border-radius: 0.375rem;
    --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-progress-bar-bg: #d8856b;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}