@import "../config/variable";

.carrier-screen {
    .carrier-screen-wraper {
        .carrier-heading {
            background-color: $gray-200;
            border-radius: 8px;
        }

        .carrier-section {
            background: $white;
            border-radius: 8px;

            .mainGrayCards {
                .logo-icon-name-wrapper {
                    margin-right: 13px;
                    text-align: center;
                    width: 127px;

                    .profileimgWrap {
                        max-height: 40px;
                        max-width: 105px;
                    }
                }

                .search-carrier {
                    input {
                        border: 1px solid $lightgreen;
                        border-radius: 6px;
                        font-size: 16px;
                        padding: 5px 10px 5px 30px;
                        width: 100%;
                    }

                    span {
                        img {
                            padding-left: 7px;
                            position: absolute;
                            top: 10px;
                        }
                    }
                }

                .static-table {

                    th:last-child,
                    td:last-child {
                        width: 100px;
                        a {
                            color: $dark;
                        }
                    }

                    th:first-child,
                    td:first-child {
                        width: 500px;

                        @media (max-width: 1200px) {
                            width: 350px;
                        }

                    }
                }
            }
        }
    }
}