@import "./variable.scss";

.spinner-border {
    --bs-spinner-border-width: 0.15em;
    --bs-spinner-animation-speed: 0.95s;
    --bs-spinner-width: 1.5rem;
    --bs-spinner-height: 1.5rem;
}

.DashboardWrapper {
    width: calc(100% - 278px);
}

.cursor {
    cursor: pointer;
}

// date time show css
.lates-update {
    p {
        span {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $black;
        }
    }
}

// glec text 
.data-sources {
    display: inline-block;

    a {
        color: $dark;
    }

    .glec-txt {
        font-size: 9px;
        color: $white;
        background-color: $primary;
        padding: 4px;
        text-decoration: underline;
    }
}

// colored divs
.lightgreen-div {
    width: 15px;
    height: 15px;
    background-color: $lightgreen;
    border-radius: 4px;
}

.green-div {
    width: 15px;
    height: 15px;
    background-color: $green;
    border-radius: 4px;
}
.primary-div{
    width: 15px;
    height: 15px;
    background-color: $primary;
    border-radius: 4px;
}
.orange-div {
    width: 15px;
    height: 15px;
    background-color: $orange;
    border-radius: 4px;
}

// select box font size
.select-box {
    .form-select {
        font-size: 14px;
        background-color: $gray-100;
        border: 1px solid $gray-500;
        padding: 11px 16px;
        min-width: 100px;
        width: auto;
    }
    .regionDropdown{
        width: 155px;
    }
}

// border bottom css
.borderBottom{
    border-bottom: 1px solid $gray-200;
}

// toogle switch css
.form-switch {
    padding-left: 10px;
    .form-check-input {
        width: 51px;
        height: 19px;
        margin-top: 0;
        margin-left: auto;
        background-position: left center;
        border-radius: 2em;
        transition: background-position .15s ease-in-out;
        margin-right: 3px;
        &:focus {
            border-color: $primary;
            outline: 0;
            box-shadow: none;
        }
        &:checked {
            background-color: $primary;
            border-color: $primary;
        }
    }
}