@import "../config/variable.scss";

.login {

    // login left side banner css starts
    .left-side-wrapper {
        background: $primary;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100%;

        @media (max-width: $md) {
            height: auto;
        }

        img {
            width: 90px;

            @media (max-width: $xxl) {
                width: 70px;
            }
        }

        .login-map {
            height: calc(100vh - 164px);
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media (max-width: $md) {
                height: auto;
                padding: 50px 0
            }

            .login-heading {
                line-height: 104px;
                color: $white;
                font-family: $fontPoppins;

                @media (max-width: $xxl) {
                    line-height: normal;
                }
            }
        }
    }

    // login left side banner css ends

    // right side form css starts
    .right-side-wrapper {
        width: 75%;

        @media (max-width: $md) {
            width: 100%;
        }

        h4 {
            color: $dark;
            font-family: $fontPoppins;
            line-height: normal;
        }

        .fields-wrapper {
            gap: 30px;
            margin-bottom: 20px;

            .mail {
                label {
                    color: $dark;
                    line-height: normal;
                    margin-bottom: 12px;
                }

                .form-control {
                    padding: 18px;
                    border: 1px solid $gray-300;

                    &::placeholder {
                        color: $gray-500;
                    }

                    &:focus {
                        border: 1px solid $gray-300;
                    }
                }

                img {
                    position: absolute;
                    right: 14px;
                    top: 16px;
                }
            }
        }

        .checkbox {
            .form-check-input[type=checkbox] {
                border-radius: .25em;
                width: 22px;
                height: 22px;
                margin-right: 12px;
                margin-top: 0px;
            }

            .form-check-input:checked {
                background-color: $primary;
                border-color: $primary;
                width: 22px;
                height: 22px;
            }

            label {
                color: $gray-800;
            }

            margin-bottom: 50px;

            @media(max-width:$xxl) {
                margin-bottom: 35px;
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-background-clip: text;
            -webkit-text-fill-color: $dark;
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: inset 0 0 20px 20px $white;
        }

        input:-webkit-autofill::first-line,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            font-size: 1rem;
        }
    }

    // right side form css ends
}

// modal css starts
.modal-dialog {
    position: relative;
    width: auto;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    pointer-events: none;

    .modal-body {
        .authentication-txt {
            margin-bottom: 24px;

            p {
                color: $gray-500;
            }

            h4 {
                color: $primary;
            }
        }

        .inputotp {
            div {
                gap: 13px;
                justify-content: center;

                input {
                    width: 73px !important;
                    height: 73px;
                    border: 1px solid $gray-500;
                    border-radius: 8px;
                    font-size: 28px;
                    font-weight: 500;

                    @media (max-width: $sm) {
                        width: 50px !important;
                        height: 50px;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }

        .mail {
            img {
                position: absolute;
                right: 14px;
                top: 16px;
            }
        }

        .recieveCode {
            gap: 3px !important;

            p {
                color: $gray-200;
            }

            button {
                background: transparent !important;
                border: none;
                width: auto;
                padding: 0;
                color: $primary;

                &:hover {
                    border: none;
                    padding: 0;
                    color: $primary;
                }
            }

        }


        .form-control {
            padding: 18px;

            @media(max-width: $sm) {
                padding: 15px 10px;
            }
        }

    }

    .border-modal-login {
        border-bottom: transparent !important;
    }

    .border-bottom-modal {
        margin-top: 28px;

        button {
            background-color: $primary;
            border: 1px solid $primary;
            width: 100%;

            &:hover {
                background-color: $white;
                border: 1px solid $primary;
                color: $primary;
            }
        }
    }
}

.modalLogin.modal {
    --bs-modal-width: 570px !important;
}

// modal css ends